aiohappyeyeballs==2.4.0
aiohttp==3.10.5
anthropic==0.34.2
anyio==3.7.1
bidict==0.23.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dataclasses-json==0.5.14
defusedxml==0.7.1
distro==1.9.0
filelock==3.15.4
Flask==3.0.3
Flask-SocketIO==5.3.7
fsspec==2024.9.0
httpx==0.27.2
huggingface-hub==0.24.6
jiter==0.5.0
langchain==0.2.16
langchain-anthropic==0.1.23
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langsmith==0.1.115
numexpr==2.10.1
numpy==1.25.0
openai==1.44.0
orjson==3.10.7
Pillow==9.5.0
pydantic==1.10.13
python-dotenv==1.0.0
PyYAML==6.0
regex==2024.7.24
requests==2.31.0
simple-websocket==1.0.0
SQLAlchemy==2.0.34
tiktoken==0.7.0
tokenizers==0.20.0
tqdm==4.66.5